<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="parent" value="Events"/>
  <add key="child" value="Expositions"/>
  <add key="parent_data" value="select * from Events"/>
  <add key="child_data" value="select * from Expositions"/>
  <add key="relationship_name" value="FK_Events_Expositions"/>
  <add key="rel_column_parent" value="id_event"/>
  <add key="rel_column_child" value="id_event"/>
</appSettings>