<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="parent" value="Collections"/>
  <add key="child" value="Exhibits"/>
  <add key="parent_data" value="select * from Collections"/>
  <add key="child_data" value="select * from Exhibits"/>
  <add key="relationship_name" value="FK_Collections_Exhibits"/>
  <add key="rel_column_parent" value="col_name"/>
  <add key="rel_column_child" value="col_name"/>
</appSettings>