<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="connection" connectionString="Data Source = DESKTOP-7807JND\SQLEXPRESS; Initial Catalog = Museum; Integrated Security = True"/>
  </connectionStrings>

  <appSettings file="D:\Others\School\Sem4\DBMS\Lab\Lab1\Lab2\Lab1\table1.config">
  </appSettings>
    <!--
    <add key="parent" value="Collections"/>
    <add key="child" value="Exhibits"/>
    <add key="parent_data" value="select * from Collections"/>
    <add key="child_data" value="select * from Exhibits"/>
    <add key="relationship_name" value="FK_Collections_Exhibits"/>
    <add key="rel_column_parent" value="col_name"/>
    <add key="rel_column_child" value="col_name"/>
    -->
  

  <!--
  <appSettings>
    <add key="parent" value="Events"/>
    <add key="child" value="Expositions"/>
    <add key="parent_data" value="select * from Events"/>
    <add key="child_data" value="select * from Expositions"/>
    <add key="relationship_name" value="FK_Events_Expositions"/>
    <add key="rel_column_parent" value="id_event"/>
    <add key="rel_column_child" value="id_event"/>
  </appSettings>
-->
  
</configuration>