:root {
    /*--bg_color: #e7dcd6;*/
    --bg_color: #edecea;
    --font_color: #093f4f;
}



body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: var(--bg_color);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--bg_color);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*General*/

.container, .container2, .filters {
    position: relative;
    padding: 50px 0;
    margin: 15px auto;
    width: 700px;
    text-align: center;
    background-color: var(--bg_color);
}

button {
    width: 150px;
    padding: 5px;
    margin: 5px;
    /*border: none;*/
}

input, select {
    /*border: none;*/
    width: 150px;
    padding: 5px;
    margin: 5px 0;
}



h1 {
    font-size: 25px;
}

a {
    /*width: 161px;
	align-self: center;*/
    display: block;
    padding-top: 5px;
    /*margin-top: 5px;*/
    text-decoration: none;
    color: var(--font_color);
}

    a:visited {
    }

form {
    margin: 15px;
}

/*Browse*/

.container2 {
    width: 800px;
}

.filters {
    position: absolute;
    width: 300px;
    margin-left: 15px;
    margin-top: 0;
    padding-top: 50px;
}

.query {
    width: 100%;
    display: flex;
    align-items: center;
}

    .query p, #header {
        width: 100%;
        padding: 5px;
        margin: 5px;
    }

#header {
    font-weight: 500px;
}

.query p span {
    display: inline-block;
    width: 130px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
